html{
  height: 100%;
}
body{
  height: 100%;
  background-color: #dddddd;
}
#root{
  height: 100%;
  width: 100%;
nav{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.header{
  /*border-bottom: solid white;*/
}

.SignBox{
  background-color: white;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  border: solid black;
  border-radius: 5px;
  align-items: center;
}

.SignBox input{
  margin-left: 10px;
  border: none;
  background-color: #cccccc;
  border-radius: 5px;
  padding: 10px;
}

.tabbutton{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.img-thumbnail{
  width: 150px ;

}
.editbutton{
  width: 80px;
}